#wpcontent {
	padding-left: 0 !important;
}

#wpwrap {
	background: #FAFAFA !important;
}

.gutena-froms#gutena-forms__root {
	.gutena-forms__header-container {
		background: #FFFFFF;
		border-bottom: 0.5px solid #E2E2E2;
		height: 45px;
		display: flex;
		padding: 0 20px;
		align-items: center;
		justify-content: space-between;

		.gutena-forms_icon-menu-container {
			display: flex;
			align-items: center;

			.gutena-forms_icon-menu {
				margin-right: 15px;
			}

			.gutena-forms__header-menu {
				ul {
					padding: 0;
					margin: 0;

					li {
						display: inline-block;
						height: 45px;
						padding: 0;
						margin: 0;

						a {
							display: block;
							padding: 0 20px;
							text-decoration: none;
							font-size: 12px;
							font-weight: 500;
							color: #6E7376;
							height: 100%;
							line-height: 45px;

							&:focus,
							&:hover {
								box-shadow: none;
								outline: none;
								border: none;
							}

							&.active {
								height: calc( 100% - 2px );
								color: #424D55;
								font-weight: 700;
								border-bottom: 2px solid #0DA88C;
								box-shadow: none;
							}
						}
					}
				}
			}
		}

		.gutena-forms__upgrade-button {
			border: 0.603px solid #1AE8C2;
			background: linear-gradient(90deg, #1AE8C2 -51.51%, #0E826D 100%), linear-gradient(270deg, #E2A446 0%, #FED38E 100%);
			padding: 3px 9px;
			border-radius: 3px;
			height: auto;

			svg {
				margin-right: 6px;
			}
		}
	}

	.gutena-froms__primary-button {
		padding: 6px 10px;
		height: auto;
		border-radius: 4px;
		background: #0DA88C;

		svg {
			margin-right: 10px;
		}
	}

	.gutena-forms__forms-header {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.gutena-froms__primary-button {
			margin-left: 20px;
		}
	}

	.gutena-froms__settings-layout {

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		.gutena-forms__main-content-container {
			width: calc( 100% - 210px );

			.gutena-forms__container {
				padding: 35px 70px;
			}


			h1 {
				color: #000;
				font-size: 16px;
				font-weight: 700;
			}

			p {
				color: #000;
				font-size: 12px;
				font-weight: 400;
			}

			.gutena-forms__settings-meta-box {
				border-radius: 10px;
				border: 1px solid #e2e2e2;
				background: #ffffff;
				padding: 20px;
				width: 760px;

				.gutena-forms__toggle-control {
					.gutena-forms__toggle-control-input {
						.components-toggle-control__label {
							color: #000;
							font-size: 14px;
							font-weight: 700;
						}

						.components-toggle-control__help {
							color: #424D55;
							font-size: 12px;
							font-weight: 400;
						}

						.is-checked {
							.components-form-toggle__track {
								background: #0DA88C;
							}
						}
					}
				}

				.gutena-forms__number-control {
					margin-top: 20px;
					.components-input-control__label {
						color: #000;
						font-size: 14px;
						font-weight: 700;
						text-transform: none;
					}
				}

				.gutena-forms__email-control {
					margin-top: 20px;

					.components-base-control__label {
						color: #000;
						font-size: 14px;
						font-weight: 700;
						text-transform: none;
					}

					.gutena-forms__field-description {
						color: #424D55;
						font-size: 12px;
						font-weight: 400;
						margin-top: 4px;
					}
				}

				.gutena-forms__submit-button {
					margin-top: 30px;

					button {
						background: #28a98c;
					}
				}
			}

			.gutena-forms__pro-wrapper {
				width: 100%;
				height: 100%;
				position: relative;

				.gutena-forms__pro-description {
					color: #424D55;
					font-size: 12px;
					font-weight: 400;
				}

				.gutena-forms__pro-single-tag-wrapper {
					display: flex;
					width: 360px;
					justify-content: space-between;
					align-items: center;
					padding: 10px 20px;
					margin-top: 10px;

					border-radius: 4px;
					border-color: #cccccc;
					border-style: solid;
					border-top-width: 0.5px;
					border-right-width: 0.5px;
					border-bottom-width: 0.5px;
					border-left-width: 2px;

					&.gutena-forms__add-new-tag-btn {
						justify-content: center;
						cursor: pointer;
						border-left-width: 1px;

						svg {
							margin-right: 8px;
						}
					}

					.gutena-forms__pro-single-tag {
						display: flex;
						align-items: center;

						.gutena-forms__pro-single-tag-title {
							color: #424D55;
							font-size: 12px;
							font-weight: 500;
						}

						.gutena-forms__pro-single-tag-icon {
							svg {
								margin: 0 15px -4px 0;
							}
						}
					}
				}
			}
		}

		.gutena-forms__left-menu-navigation {
			width: 200px;
			background: #ffffff;
			border-right: 0.5px solid #E2E2E2;
			min-height: calc( 100vh - 45px - 32px - 66px );

			.gutena-forms__container {
				padding: 10px;
			}

			.gutena-forms__accordion-header {
				cursor: pointer;
				user-select: none;
				border-radius: 4px;
				background: #F0FFFC;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 35px;
				padding: 0 20px;

				svg {
					margin-top: 5px;
				}

				.gutena-forms__accordion-title {
					color: #424D55;
					font-size: 12px;
					font-weight: 500;
				}

				.gutena-forms__accordion-arrow {
					&.closed {
						transform: rotate(-180deg);
					}
				}
			}

			.gutena-forms__accordion-items {
				padding: 0 20px 0 28px;
				margin-top: 10px;

				&.closed {
					display: none;
				}
			}
			.gutena-forms__accordion-item {
				border-left: 1px solid #e2e2e2;
				padding-left: 10px;

				&:last-child {
					a {
						margin-bottom: 0;
					}
				}

				a {
					line-height: 30px;
					color: #6E7376;
					font-size: 12px;
					font-weight: 500;
					text-decoration: none;
					display: inline-block;
					width: 100%;
					margin-bottom: 14px;
					box-shadow: none;
					padding: 0 6px;
					border: 1px solid transparent;

					&.active {
						border-radius: 4px;
						background: #F0FFFC;
						color: #424D55;
						border: 1px solid #46BEA8;
					}
				}
			}
		}
	}

	.gutena-forms__pro-badge {
		display: inline-block;
		margin-left: 5px;
		padding: 0 6px;
		border-radius: 15px;
		border: 0.5ps solid #1AE8C2;
		background: linear-gradient(90deg, #1AE8C2 -88.15%, #0E826D 100%), linear-gradient(260deg, #0D2149 1.97%, #208AAE 100%);

		color: #FFF;
		font-size: 10px;
		font-weight: 800;

		svg {
			margin-right: 5px;
		}
	}

	.gutena-forms__pro-popup {
		width: 335px;
		background: #ffffff;
		position: relative;
		border-radius: 8px;

		.gutena-forms__popup-header {
			background: linear-gradient(265deg, #0DA88C -39.82%, #015D61 87.8%);
			text-align: center;
			padding: 20px;

			h1 {
				margin: 12px 0;
				background: linear-gradient(94deg, #FFF 3.64%, #1AE8C2 159.87%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				font-size: 18px;
				font-weight: 700;
			}
		}
	}
}
