/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper .wp-block-gutena-forms, .wp-block-gutena-forms {
	.heading-input-label-gutena {
		color: var(--wp--gutena-forms--label-color);
		font-size: var(--wp--gutena-forms--label-font-size, 13px);
		line-height: var(--wp--gutena-forms--label-line-height);
		font-weight: var(--wp--gutena-forms--label-font-weight);
	}
	//BlockVariationPicker ul
	> .block-editor-block-variation-picker {
		padding: 1.5rem;

		.block-editor-block-variation-picker__variations {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
			grid-gap: 1.5rem;
			grid-auto-rows: 12rem;
		}

		//BlockVariationPicker li
		.block-editor-block-variation-picker__variations > li {
			margin: 0;
			width: auto;
			display: flex;
			flex-direction: column;
		}

		//BlockVariationPicker height
		.block-editor-block-variation-picker__variation.components-button.has-icon.is-secondary {
			height: 10rem;
			padding: 0;
		}

		.block-editor-block-variation-picker__variation.components-button.has-icon.is-secondary > svg {
			width: 250px !important;
			height: 150px !important;
		}

	} 
	
	.form-message-icon .components-resizable-box__container:not(.has-show-handle) img {
		display: inherit;
	}
}

/*Inspector control components*/
.gutena-forms-panel .components-border-radius-control {
	width:100%;
}

.gutena-forms-horizontal-radio.components-radio-control .components-flex {
	flex-direction: row;
	gap: 1.25rem;
	justify-content: flex-start;
}

.gf-text-muted {
    font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
}

.block-editor-block-inspector {
	.gf-child-mb-0 > .components-base-control{
		margin-bottom: 0;
	}

	.gf-mb-24 {
		margin-bottom: 24px !important;
	}

	.gf-mt-1 {
		margin-top: 1rem;
	}

	.gf-required-field .components-base-control__help{
		color: red;
	}

}
